* {
    margin: 0;
    padding: 0;
    list-style-type: disc;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    list-style: none;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tab-list {
        width: 100%;
        height: 40px;
        line-height: 40px;
        .active {
            color: red;
        }
    }
    .list-wrap {
        width: 100%;
        flex: 1;
        overflow: hidden;
        .inner-con {
            width: 100%;
            height: auto;
            dl {
                width: 45%;
                height: 130px;
                border: 1px solid #ccc;
                margin: 10px 1%;
                float: left;
                dt {
                    width: 100%;
                    img {
                        width: 90%;
                        margin: 5px 5%;
                    }
                }
                dd {
                    text-align: center;
                }
            }
        }
    }
}