* {
  margin: 0;
  padding: 0;
  list-style-type: disc; }

body,
html,
.wrap {
  width: 100%;
  height: 100%;
  list-style: none; }

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .wrap .tab-list {
    width: 100%;
    height: 40px;
    line-height: 40px; }
  .wrap .list-wrap {
    width: 100%;
    flex: 1;
    overflow: hidden; }
    .wrap .list-wrap .inner-con {
      width: 100%;
      height: auto; }
      .wrap .list-wrap .inner-con dl {
        border: 1px solid #ccc; }
